*{
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Bitter&family=IBM+Plex+Sans:wght@500&display=swap');

header{
    
    height: 150px;
    background-color: rgba(12, 136, 136, 0.966);
    display: flex;
    justify-content: space-between;
}

header nav{
    
    display: flex;
    
    
    
}

header nav ul {
    padding: 55px 40px 0px 30px;
    
    margin-right: 0px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;    
}


body{
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #F5F5F5;
}


.link1{
    color: white;
    margin-left: 0px;
    text-decoration: none;
}


.Titulo nav.Titulo{
    max-width: 1024px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}


.link2{
    color: black;
    font-size: 20px;
    text-decoration: underline aqua;
    
    
}


h2{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    color: darkgray;
}


p{
    text-align: center;
    
}


#ortopedia1{
    display: flex;
    justify-content: center;
    margin: 30px;
}


.imgortopedia{
   
    width: 400px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   
}


#pediatria1{
    display: flex;
    justify-content: center;
    margin: 30px;
}


#geriatria1{
    display: flex;
    justify-content: center;
    margin: 30px;
}


#psicologo1{
    display: flex;
    justify-content: center;
    margin: 30px;
}


#fisioterapia1{
    display: flex;
    justify-content: center;
    margin: 30px;
}


table{
   
   width: 600px;
   height: 200px;
   border-collapse: collapse;
}


tbody{
   
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
 }


.cabeça{
    background-color: aqua;
}


tr:nth-child(2n){
    background-color: darkgray;


}

footer{
    color: white;
    margin-top: 50px;
    background-color: rgba(12, 136, 136, 0.966);
    text-align: center;
    height: 200px;
}


footer img{
    width: 200px;
    height: 100px;

}

.linkwpp2{
    text-decoration: none;
    color: white;
}


@media screen and (max-width: 600px) {
     
    header{
      
        
        display: flex;
        height: 200px;
       
    }

    header, ul , a{
        margin: 0px;
        
        padding: 0px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 15px;
    }

    .link1{
        font-size: 20px;
        color: black;
    }

    a.link2{
        margin-top: 45px;
    }

    .imgortopedia{
        display: none;
    }
}